<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
  {% endif %}
  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_facebook"></a><a class="a2a_button_twitter"></a><a class="a2a_button_google_plus"></a><a class="a2a_button_vk"></a><a class="a2a_button_pocket"></a>
  </div>
  <script>
    var a2a_config = a2a_config || {};
    //a2a_config.linkurl = "http://blog.popstas.ru";
    a2a_config.locale = "ru";
    a2a_config.color_main = "undefined";
    a2a_config.color_border = "undefined";
    a2a_config.color_link_text = "undefined";
    a2a_config.color_link_text_hover = "undefined";
    a2a_config.color_bg = "undefined";
    a2a_config.color_arrow = "undefined";
    a2a_config.color_arrow_hover = "undefined";
    a2a_config.prioritize = ["facebook", "twitter", "google_plus", "pocket", "vk"];
  </script>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->

</div>
